<!DOCTYPE html>
<html>
  <head>
    <title>manage account</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/standardStyles.css"/>
  </head>
  <body>
    <div id="nav_bar">
      <a href="/home" class="navButton" id="home">back</a>
    </div>

    <div id="centerQuestionare">
      <h1>Got time to volunteer?</h1>
      
      <ul class="nav navbar-nav">
        <li>
          <form action="/editAvalibility" method="POST">
            <div class="tooltip">
              <input type="text" id="day" class="entry" name="day" placeholder="yyyy/mm/dd">
              <span class="tooltiptext">Please fill out in this format: yyyy/mm/dd</span>
            </div>
            <div class="tooltip">
              <input type="text" id="time" class="entry" name="time" placeholder="00:00AM/00:00PM">
              <span class="tooltiptext">Please fill out in this format: 00:00AM/00:00PM</span>
            </div>
            <input type="submit" class="submitButton" value="make changes">
          </form>
        </li>
        <li><a class="navButton" href ="/home">cancel</a></li>
        <li> <p class="error"><%= error%></p></li>
      </ul>
    </div>
  </body>
</html>