<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- <script src="functions.js"></script> -->
    <link rel="stylesheet" href="css/standardStyles.css"/>
  </head>
  <body>
    <div id="nav_bar">
      <a href="/home" class="navButton" id="home">back</a>
      <a href="/new" class="navButton" id="newAccount">don't have an account?</a>
    </div>

    <h1>Welcome!</h1>

    <div class="centerQuestionare">
      <ul class="nav navbar-nav">
        <li>
          <form action="/login" method="POST">
            <input type="text" id="user" class="entry" name="username" placeholder="username">
            <input type="text" id="pass" class="entry" name="password" placeholder="password">
            <input type="submit" class="submitButton" value="Sign in">
          </form>
        </li>         
        <li> <a class="navButton" href ="/new">not yet a member?</a></li>
        <li> <p class="error"><%= error%></p></li>
      </ul>
    </div>
    <!-- user signs in and a cookie is created which keeps them signed in 
        and ensures the home page displays the correct account type and personal info-->
  </body>
</html>