<!DOCTYPE html>
<html>
  <head>
    <title>my shifts</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/standardStyles.css"/>
    <!-- moment.js for preventing display of past events -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <!-- jquery.js for page population and ajax calls -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
<body >
    <div id="nav_bar">
        <a href="/home" class="navButton" id="home">back</a>
    </div>
  
    <div id="centerQuestionare">
        <h1>Don't forget!</h1>
        
        <ul class="nav navbar-nav">
            <!-- <li> <p class="error"><; %= error%; ></p></li> -->
            <li>
                <div id="eventList">
                    <!-- This get's populated with the events the user is scheduled for -->
                </div>
            </li>
            
        </ul>
    </div>
    <script src="js/myShift.js" type="module"></script>
</body>
</html>