<!DOCTYPE html>
<html>
  <head>
    <title>new event</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/standardStyles.css"/>
  </head>
  <body>
    <div id="nav_bar">
      <a href="/home" class="navButton" id="home">Home</a>
      <a href="/adminAccount" class="navButton" id="back">back</a></li>
    </div>

    <h1>New event time!</h1>

    <div class="centerQuestionare">
      <ul class="nav navbar-nav">
        <li>
          <form action="/newEvent" method="POST">
            <input type="text" id="eventLabel" class="entry" name="eventLabel" placeholder="Event Name">
            <input type="text" id="timeSlot" class="entry" name="timeSlot" placeholder="yyyy/mm/dd/00:00AM-00:00PM">
            <!-- need a dropdown menue for type of event, one for repetition options, and one for the number of vounteers needed-->
            <input type="submit" class="submitButton" value="make event">
          </form>
        </li>
        <li> 
          <p class="error" ><%= error %></p>
        </li>

      </ul>
    </div>
  </body>
</html>