<!DOCTYPE html>
<html>
  <head>
    <title>account</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/standardStyles.css"/>
  </head>
<body >
  <div id="top">
  </div>
  <div id="nav_bar">
    <a href ="/home" class="navButton" id="home">home</a>
      <a href ="/calendar" class="navButton" id="calendar">calendar</a>
      <a href ="/account" class="navButton  active" id="account">account</a>
      <a href ="/logout" action="/logout" method="POST"  class="navButton" id="logOut">log out</a>
      <a href ="/about" class="navButton" id="about">about</a>
  </div>
  <h1>Hi <%= name %></h1>
  <div id="actions">
    <a href = "/editAvalibility" class="actionButton" id="availability">update availability</a>
    <a href = "/editAccount" class="actionButton" id="manageAccount">manage account</a>
  </div>
  <div id="data">

  </div>
</body>
</html>